.card-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}
.card{
    background: #1a1919;
    padding: 0.5rem 0.5rem;
   
}
.card img{
    width: 100%;
}
@media screen and (max-width : 740px){
    .card-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
h4 {
    align-items: center;

}